Load and combine raw datasets.\
The individual datasets can be found here: [Kaggle - Animal Crossing New Horizons Catalog](https://www.kaggle.com/datasets/jessicali9530/animal-crossing-new-horizons-nookplaza-dataset)

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 25)

import warnings
warnings.filterwarnings('ignore')

/Users/rainalex/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df_acc = pd.read_csv('./data/accessories.csv')
df_bag = pd.read_csv('./data/bags.csv')
df_bottom = pd.read_csv('./data/bottoms.csv')
df_dress = pd.read_csv('./data/dresses.csv')
df_shoe = pd.read_csv('./data/shoes.csv')
df_sock = pd.read_csv('./data/socks.csv')
df_top = pd.read_csv('./data/tops.csv')

## Columns

In [3]:
df_acc.columns

Index(['Name', 'Variation', 'DIY', 'Buy', 'Sell', 'Color 1', 'Color 2', 'Size',
       'Miles Price', 'Source', 'Source Notes', 'Seasonal Availability',
       'Mannequin Piece', 'Version', 'Style', 'Label Themes', 'Type',
       'Villager Equippable', 'Catalog', 'Filename', 'Internal ID',
       'Unique Entry ID'],
      dtype='object')

In [4]:
df_bag.columns

Index(['Name', 'Variation', 'DIY', 'Buy', 'Sell', 'Color 1', 'Color 2', 'Size',
       'Miles Price', 'Source', 'Source Notes', 'Seasonal Availability',
       'Version', 'Style', 'Label Themes', 'Villager Equippable', 'Catalog',
       'Filename', 'Internal ID', 'Unique Entry ID'],
      dtype='object')

In [5]:
df_bottom.columns

Index(['Name', 'Variation', 'DIY', 'Buy', 'Sell', 'Color 1', 'Color 2', 'Size',
       'Source', 'Source Notes', 'Seasonal Availability', 'Mannequin Piece',
       'Version', 'Style', 'Label Themes', 'Villager Equippable', 'Catalog',
       'Filename', 'Internal ID', 'Unique Entry ID'],
      dtype='object')

In [6]:
df_dress.columns

Index(['Name', 'Variation', 'DIY', 'Buy', 'Sell', 'Color 1', 'Color 2', 'Size',
       'Source', 'Source Notes', 'Seasonal Availability', 'Mannequin Piece',
       'Version', 'Style', 'Label Themes', 'Villager Equippable', 'Catalog',
       'Primary Shape', 'Secondary Shape', 'Filename', 'Internal ID',
       'Unique Entry ID'],
      dtype='object')

In [7]:
df_shoe.columns

Index(['Name', 'Variation', 'DIY', 'Buy', 'Sell', 'Color 1', 'Color 2', 'Size',
       'Miles Price', 'Source', 'Source Notes', 'Seasonal Availability',
       'Mannequin Piece', 'Version', 'Style', 'Label Themes',
       'Villager Equippable', 'Catalog', 'Filename', 'Internal ID',
       'Unique Entry ID'],
      dtype='object')

In [8]:
df_sock.columns

Index(['Name', 'Variation', 'DIY', 'Buy', 'Sell', 'Color 1', 'Color 2', 'Size',
       'Miles Price', 'Source', 'Source Notes', 'Seasonal Availability',
       'Mannequin Piece', 'Version', 'Style', 'Label Themes',
       'Villager Equippable', 'Catalog', 'Filename', 'Internal ID',
       'Unique Entry ID'],
      dtype='object')

In [9]:
df_top.columns

Index(['Name', 'Variation', 'DIY', 'Buy', 'Sell', 'Color 1', 'Color 2', 'Size',
       'Miles Price', 'Source', 'Source Notes', 'Seasonal Availability',
       'Mannequin Piece', 'Version', 'Style', 'Label Themes',
       'Villager Equippable', 'Catalog', 'Filename', 'Internal ID',
       'Unique Entry ID'],
      dtype='object')

In [10]:
df_acc['Category'] = 'accessories'
df_bag['Category'] = 'bags'
df_bottom['Category'] = 'bottoms'
df_dress['Category'] = 'dresses'
df_shoe['Category'] = 'shoes'
df_sock['Category'] = 'socks'
df_top['Category'] = 'tops'

In [11]:
selected_cols = ['Name', 'Category', 'Variation', 'DIY', 'Buy', 'Sell', 'Color 1', 
                 'Color 2', 'Source', 'Seasonal Availability', 'Mannequin Piece', 
                 'Style', 'Villager Equippable']

## Concatenate Dataframes

In [12]:
df = pd.concat([df_acc, df_bag, df_bottom, df_dress, df_shoe, df_sock, df_top])

In [13]:
df = df[selected_cols]

In [14]:
df.head()

,Name,Category,Variation,DIY,Buy,Sell,Color 1,Color 2,Source,Seasonal Availability,Mannequin Piece,Style,Villager Equippable
0,3D glasses,accessories,White,No,490,122,White,Colorful,Able Sisters,All Year,No,Active,Yes
1,3D glasses,accessories,Black,No,490,122,Black,Colorful,Able Sisters,All Year,No,Active,Yes
2,bandage,accessories,Beige,No,140,35,Beige,White,Able Sisters,All Year,Yes,Active,No
3,beak,accessories,Yellow,No,490,122,Yellow,Yellow,Able Sisters,All Year,Yes,Cute,No
4,birthday shades,accessories,Yellow,No,NFS,620,Yellow,Red,Birthday,All Year,No,Gorgeous,Yes

In [15]:
df.to_csv('./data/combined_data.csv', index=False)