Handle missing values, Drop/fix outliers, Normalize text, fix typos, etc., drop or combine columns...

In [1]:
import pandas as pd

/Users/rainalex/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv('./data/combined_data.csv')

# Drop columns

In [3]:
df = df.drop(['Name', 'Variation', 'Buy'], axis=1)

In [4]:
df

,Category,DIY,Sell,Color 1,Color 2,Source,Seasonal Availability,Mannequin Piece,Style,Villager Equippable
0,accessories,No,122,White,Colorful,Able Sisters,All Year,No,Active,Yes
1,accessories,No,122,Black,Colorful,Able Sisters,All Year,No,Active,Yes
2,accessories,No,35,Beige,White,Able Sisters,All Year,Yes,Active,No
3,accessories,No,122,Yellow,Yellow,Able Sisters,All Year,Yes,Cute,No
4,accessories,No,620,Yellow,Red,Birthday,All Year,No,Gorgeous,Yes
...,...,...,...,...,...,...,...,...,...,...
3877,tops,No,360,Black,Red,Able Sisters,All Year,No,Gorgeous,Yes
3878,tops,No,360,Pink,Pink,Able Sisters,All Year,No,Gorgeous,Yes
3879,tops,No,360,Light blue,Blue,Able Sisters,All Year,No,Gorgeous,Yes
3880,tops,No,360,Yellow,Orange,Able Sisters,All Year,No,Gorgeous,Yes
3881,tops,No,240,Green,Red,Nook Shopping Catalog,All Year,No,Active,Yes

# Fill empty values

In [5]:
df.isna().sum()

Category                  0
DIY                       0
Sell                      0
Color 1                   0
Color 2                   0
Source                    0
Seasonal Availability     0
Mannequin Piece          96
Style                     0
Villager Equippable       0
dtype: int64

In [6]:
df['Mannequin Piece'].value_counts(dropna=False)

Mannequin Piece
No     3423
Yes     363
NaN      96
Name: count, dtype: int64

In [7]:
df['Mannequin Piece'] = df['Mannequin Piece'].fillna('No')

In [8]:
df['Mannequin Piece'].value_counts(dropna=False)

Mannequin Piece
No     3519
Yes     363
Name: count, dtype: int64

# Save with outliers

In [10]:
df.to_csv('./data_clean/w_outliers.csv', index=False)

# Save without outliers

In [12]:
threshold = df['Sell'].quantile(.95)
main_df = df[df['Sell'] <= threshold]

In [13]:
main_df.to_csv('./data_clean/no_outliers.csv', index=False)